@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;800&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
    font-size: 20px;
}

body{
    background-color: #FFFFFF;
}

.header{
    background-color: #1b3039;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 85px;
    padding: 5px 10%;
}

.header .logo{
    cursor: pointer;
    margin-right: auto;
}

.header .logo img{
    height: 70px;
    width: auto;
    transition: all 0.3s;
}

.header .logo img:hover{
    transform: scale(1.2);
}

.header .nav-links{
    list-style: none;
}

.header .nav-links li{
    display: inline-block;
    padding: 0 20px;    
}

.header .nav-links li:hover{
    transform: scale(1.1);
}

.header .nav-links a{
    font-size: 700;
    color: #eceff1;
    text-decoration: none;    
}

.header .nav-links li a:hover{
    color: #ffbc0e;
}

.header .btn button{
    margin-left: 20px;
    font-weight: 700;
    color: #1b3039;
    padding: 9px 25px;
    background: #eceff1;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.header .btn button:hover{
    background-color: #e2f1f8;
    color: #ffbc0e;
    transform: scale(1.1);
}

.contenedor{
	display: flex;
	max-width: 100%;
	height: 80vh;
	background-image: url(img-hero.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: left;
}
.contenedor .wrap{
	max-width: 1000px;
	margin: 0 auto;
	height: 100%;
	display: flex;
	flex-flow: row wrap;
	justify-content: left;
}
.contenedor .wrap .box{
	flex-basis: 50%;
	color: #fff;
	text-align: left;
	align-self: center;
}
.contenedor .wrap .box span{
	font-size: 18px;
	letter-spacing: 2px;
	font-weight: 300;
	
}
.contenedor .wrap .box h1{
	font-size: 32px;
	line-height: .9;
	padding-bottom: 10px;
	
}
.contenedor .wrap .box p{
	font-size: 15px;
	line-height: 1.2;
}
.contenedor .wrap .box .botones{
	display: flex;
	margin-top: 30px;
	flex-flow: row wrap;
}
.contenedor .wrap .box .botones .btn1{
	flex-basis: 30%;
	border: solid 2px;
	border-radius: 20px;
	padding: 10px 30px 10px 30px;
	margin-right: 20px;
	text-align: center;
	text-decoration: none;
	color: #fff;
}
.contenedor .wrap .box .botones .btn2{
	flex-basis: 30%;
	background-color: #fff;	
	border: solid 2px;
	border-radius: 20px;
	padding: 10px 30px 10px 30px;
	text-align: center;
	text-decoration: none;
	color: #000;
}


.hero {
    background-image: url(https://img.freepik.com/vector-gratis/concepto-isometrico-inicio_1284-10902.jpg); 
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #fff;
    font-family: Arial, sans-serif;
}

.hero-content {
    max-width: 600px;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.5); /* Fondo semi-transparente para legibilidad del texto */
    border-radius: 8px;
}

.hero-content h1 {
    font-size: 3rem;
    margin-bottom: 20px;
}

.hero-content p {
    font-size: 1.2rem;
    line-height: 1.6;
}
